<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict/>
</plist>


<!-- FÜR das Aktivieren von UNIVERSAL LINKS
mit dem oberen ersetzen wenn bezahlter Apple Developer Account besteht -->

<!--<plist version="1.0">
<dict>-->
	<!-- ... other keys -->
	<!--<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:wawiapp.artenativ.de</string>
	</array>-->
	<!-- ... other keys -->
<!--</dict>
</plist>-->